/**body{*/
  /*background-image:url('~src/assets/img/cos.jpg');*/
/*}*/

/*.image{*/
  /*height:40em;*/
  /*background-size:cover;*/
  /*width:auto;*/
  /*background-image:url('~src/assets/img/cos.jpg');*/
  /*background-position:50% 50%;*/
/*}*/

h1 {
  color: #6c465f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align:center;
}

h2{
  color: #6c465f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  text-align:center;
  padding-top: 7px;
}

.top-menu {
  margin: 0 100px;
  position: relative;
  background: #5A394E;
  box-shadow:
    inset 1px 0 0 rgba(255,255,255,.1),
    inset -1px 0 0 rgba(255,255,255,.1),
    inset 150px 0 150px -150px rgba(255,255,255,.12),
    inset -150px 0 150px -150px rgba(255,255,255,.12);
}

.top-menu:before,
.top-menu:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 3px;
}

.top-menu:before {
  top: 0;
  border-bottom: 1px dashed rgba(255,255,255,.2);
}

.top-menu:after {
  bottom: 0;
  border-top: 1px dashed rgba(255,255,255,.2);
}

.menu-main {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-main:before,
.menu-main:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 0;
  top: 8px;
  border-top: 18px solid #5A394E;
  border-bottom: 18px solid #5A394E;
  transform: rotate(360deg);
  z-index: -1;
}

.menu-main:before {
  left: -30px;
  border-left: 12px solid rgba(255, 255, 255, 0);
}

.menu-main:after {
  right: -30px;
  border-right: 12px solid rgba(255, 255, 255, 0);
}

.menu-main li {
  display: inline-block;
  margin-right: -4px;
}

.menu-main a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  transition: .3s linear;
}

.menu-main a.current,
.menu-main a:hover
{background: rgba(0,0,0,.2);}
@media (max-width: 680px) {
  .top-menu {margin: 0;}
  .menu-main li {
    display: block;
    margin-right: 0;
  }
  .menu-main:before,
  .menu-main:after {content: none;}
  .menu-main a {display: block;}
}

.home{
  display: inline-block;
  width: 32%;
  padding-left: 10px;
}

.home_h1{
  display: block;
  text-align:center;
  color: #000000;
  font-size: 30px;
}

.home_h3{
  display: block;
  text-align:center;
  color: #6c465f;
  font-size: 25px;
}

.home_p{
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  text-align:justify;
  color: #97678a;
}

.priorittes{
  display: block;
  text-align:center;
  color: #000000;
  font-size: 30px;
}

.priorittes_img{
  margin-top: 20px;
  width: 49%;
  height: auto;
  padding-left: 10px;
}

.techniques_h{
  display: block;
  text-align:center;
  color: #000000;
  font-size: 30px;
}

.techniques_p{
  top: 0;
  left: 0;
  margin: auto;
  width: 80%;
  text-align:center;
  border: 1px solid black;
  padding: 7px;
  color: #97678a;
}

.contact_div{
  height: 500px;
}

.contact{
  display: block;
  text-align:center;
  color: #000000;
  font-size: 30px;
}

.contact_map{
  padding-left: 10px;
  width: 49%;
  display: block;
  float: left;
}

.contact_text{
  padding-left: 10px;
  width: 49%;
  display: block;
  float: left;
}

.contact_h{
  text-align: center;
  color: #5A394E;
  padding-top: 50px;
}

.contact_p{
  text-align: center;
  color: #5A394E;
  font-size: 18px;
}

.footer{
  background-color: #5A394E;
  width: 100%;
  height: 81px;
}
